*{
    padding: 0px;
    margin: 0px;
}
header{
          
    height: 80px;
   
   background-color: rgb(169, 58, 58);
    
  display: flex;
  align-items: center;
   justify-content: space-between;
   
   font-size: 20px;
   color: white;
}